@use 'variables' as *;

.collapse {
  margin-bottom: 30px;
  &__header {
    background-color: $primary-color;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__arrow {
    transition: transform 0.3s ease;
    &.opened {
      transform: rotate(-180deg);
    }
  }

  &__content {
    background-color: $gray;
    color: inerit;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    display: none;
      ul {
        padding: 0;
        list-style-type: none;
      }
    &.opened {
      display: block;
    }
  }
}