@use 'variables' as v;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$primary-color;
  margin-top: 0;

  &__title {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: 36px;
    margin-bottom: 100px;
    text-align: center;
  }

  &__link {
    text-decoration: underline;
    margin-bottom: 100px;
    color: v.$black;
  }
}