.footer {
  width: 100%; // Il prend toute la largeur
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 50px;

  &__logo {
    width: 7%;
    padding-bottom: 20px;
  }
}