@use 'variables' as v;

.footer {
  width: 100%;
  background-color: v.$black;
  color: v.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 30px;

  &__logo {
    width: 150px;
    padding-bottom: 20px;
  }
}