@use 'variables' as v;

.gallery {
  background-color: v.$gray;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    background-color: transparent;
    padding: 0;
  }
}

.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  display: block;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: v.$white;
    font-size: 18px;
    font-weight: 500;
  }
}