@use 'variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
  &__logo { width: 200px;
    @media (max-width: 768px) {
      width: 150px;
    }
  }
  
  nav {
    display: flex;
    a {
      margin-left: 60px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: v.$black;

      &.active { text-decoration: underline; }

      @media (max-width: 768px) {
        margin-left: 15px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}