@use 'variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
  &__logo { width: 200px; }
  
  nav a {
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: v.$black;
    &.active { text-decoration: underline; }
    @media (max-width: 768px) {
    text-transform: uppercase;
    font-weight: 500;
  }
  }
}