.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
  &__logo { width: 150px; }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    &.active { text-decoration: underline; }
  }
}