@use 'variables' as v;

.housing {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: v.$primary-color;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
      margin: 0;
  }

  &__location {
    color: v.$black;
    margin: 5px 0;
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    .tag {
      background: v.$primary-color;
      color: v.$white;
      padding: 5px 20px;
      border-radius: 10px;
      font-size: 14px;
    }
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  &__rating {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    img { width: 24px; }
  }

  &__details {
    display: flex;
    gap: 80px;
    margin: 30px 0;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
    .collapse { flex: 1; }
  }
}