@use 'variables' as *;

.slideshow {
  position: relative;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    
    &.left { left: 30px; }
    &.right { right: 30px; }

    @media (max-width: 768px) {
      width: 20px;
    }
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: 18px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}