$primary-color: #FF6060;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Force l'app à faire au moins la taille de l'écran
}

main {
  flex: 1; // Dit au contenu principal de "pousser" le footer vers le bas
}

body {
  font-family: sans-serif;
  margin: 0;
}

.header, main {
  margin: 0 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
  &__logo { width: 150px; }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    &.active { text-decoration: underline; }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 100px;

  &__logo {
    width: 100%;
  }
}