@use 'variables';
@use 'base';
@use 'header';
@use 'gallery';
@use 'footer';
@use 'banner';
@use 'collapse';
@use 'slideshow';
@use 'housing';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}