// On importe les morceaux dans l'ordre logique
@use 'variables';
@use 'base';
@use 'header';
@use 'gallery';
@use 'footer';
@use 'banner';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Force l'app à faire au moins la taille de l'écran
}

main {
  flex: 1; // Dit au contenu principal de "pousser" le footer vers le bas
}